<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="template ::head">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="template::navbar"></div>
<h1>Dashboard</h1>
<ul>
    <li th:each="categorie:${categories}">
        <a th:href="@{'/admin/categorie/'+${categorie.id}}" th:text="${categorie.nom}"></a>
        <ul>
            <li>
                <a th:href="@{'/admin/categorie/'+${categorie.id}+'/produits'}">Produits</a>
            </li>
        </ul>
    </li>
</ul>
<div th:replace="template.html::footer"></div>
</body>
</html>