<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="template ::head">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="template::navbar"></div>
<h1>Produit de <span th:text="${categorie.nom}"></span></h1>
<ul>
    <li th:each="unProduit:${categorie.produits}">
        <span th:text="${unProduit.nom}"></span>
    </li>
</ul>
<div th:replace="template.html::footer"></div>
</body>
</html>