<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="template ::head">
    <meta charset="UTF-8">
    <title>Produits</title>
</head>
<body>
<div th:replace="template::navbar" ></div>
    <h1>Produits</h1>
    <div class="row">
        <div class="card" style="width: 18rem;" th:each="unProduit : ${produits}">
            <div class="card-body">
                <h5 class="card-title" th:text="${unProduit.nom.toUpperCase()}">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${unProduit.categorie.nom.toUpperCase()}" ></h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
<div th:replace="template.html::footer"></div>
</body>
</html>