<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="template ::head">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="template::navbar"></div>
<div class="container">
    <div class="table-responsive">


        <table class="table ">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Note</th>
                <th>Tailles</th>
                <th>Prix</th>
                <th>Stock</th>

                <th>Actions Produit</th>
            </tr>
            </thead>

            <tr th:each="unProduit : ${lesProduits}">
                <td th:text="${unProduit.nom}"></td>
                <td th:text="${unProduit.categorie.nom}"></td>
                <td>0</td>
                <td colspan="3" class="p-0">
                    <table class="table">
                        <tr th:each="unInventaire : ${unProduit.getInventaires()}">

                            <td th:text="${unInventaire.prix}">


                            </td>
                            <td th:text="${unInventaire.prix}">


                            </td>
                            <td th:text="${unInventaire.quantite}">

                            </td>

                        </tr>

                    </table>
                </td>
                <td>
                    <a href="" class="btn btn-primary">Modifier produit</a>
                    <br>
                    <a href="" class="btn btn-primary">Ajouter inventaire</a>
                    <br>
                    <form action="" method="post">
                        <button class="btn btn-primary">Supprimer produit</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<div th:replace="template.html::footer"></div>
</body>
</html>