<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="template ::head">
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="template::navbar"></div>
<ul th:each="uneCategorie : ${categories}">
  <li th:utext="${uneCategorie.nom}"></li>
</ul>
<div th:replace="template.html::footer"></div>
</body>
</html>